.header {
  height: 100vh;
  padding-top: 105px;
  position: relative;
}

.header h1 {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: clamp(3rem, 10vw - 1.4rem, 8rem);
  transform: scaleY(2.1);
  text-align: center;
  color: rgb(255, 20, 146);
  letter-spacing: 3px;
  line-height: 100px;
}

.clipAnimation p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  padding-top: 5px;
  font-size: clamp(0.8rem, 3.2vw - 0.6rem, 1.8rem);
}
.header main > div > h2 {
  font-size: clamp(3rem, 9.6vw - 1.2rem, 6rem);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 20, 146);
  line-height: 80px;
}
.header main > div:first-of-type > h3 {
  color: #00c3ff;
  font-size: clamp(2rem, 3.2vw + 0.6rem, 3rem);
  letter-spacing: -5px;
  text-transform: uppercase;
  line-height: 50px;
}
.header main > div:last-of-type {
  display: grid;
  justify-items: right;
  margin-bottom: 25px;
  margin-right: 20px;
}
.header main > div:last-of-type > h4:first-of-type {
  background-color: #00c3ff;
  padding: 8px;
  transform: rotate(5deg);
  color: rgb(255, 247, 0);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: clamp(1rem, 1.9vw + 0.2rem, 1.6rem);
  box-shadow: 8px 10px 0px 2px #0099ff;
  -webkit-box-shadow: 8px 10px 0px 2px #0099ff;
  -moz-box-shadow: 8px 10px 0px 2px #0099ff;
}
.header h4:last-child {
  color: #0099ff;
  background-color: rgb(255, 247, 0);
  transform: rotate(-5deg);
  width: fit-content;
  padding: 0px 10px;
  box-shadow: 5px 5px 0px 2px rgb(255, 208, 0);
  -webkit-box-shadow: 5px 5px 0px 2px rgb(255, 208, 0);
  -moz-box-shadow: 5px 5px 0px 2px rgb(255, 208, 0);
}
.header h4:last-child,
.header h4:nth-of-type(2),
.header h5,
.header h6 {
  margin-right: 10px;
  text-align: right;
  font-size: x-large;
  font-size: clamp(1.2rem, 2.6vw + 0.1rem, 2rem);
}

.clipAnimation {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(8rem, 17.5vw + 4.7rem, 20rem);
  height: clamp(8rem, 17.5vw + 4.7rem, 20rem);
  background-color: rgb(255, 247, 0);
  position: absolute;
  top: 22%;
  clip-path: polygon(
    100% 50%,
    84.70057014808336% 54.5684167277018%,
    91.0518476172854% 60.99980941685713%,
    82.33578363789503% 63.39392013277814%,
    93.30127018922194% 75%,
    77.76736691019323% 71.30665001530522%,
    80.05203820042827% 80.05203820042827%,
    71.30665001530522% 77.76736691019323%,
    75% 93.30127018922192%,
    63.39392013277814% 82.33578363789503%,
    60.99980941685714% 91.0518476172854%,
    54.56841672770181% 84.70057014808336%,
    50% 100%,
    45.4315832722982% 84.70057014808336%,
    39.000190583142874% 91.0518476172854%,
    36.606079867221865% 82.33578363789505%,
    25.00000000000001% 93.30127018922194%,
    28.693349984694787% 77.76736691019323%,
    19.947961799571733% 80.05203820042827%,
    22.23263308980677% 71.30665001530522%,
    6.698729810778076% 75.00000000000001%,
    17.664216362104966% 63.39392013277815%,
    8.948152382714603% 60.99980941685715%,
    15.299429851916635% 54.568416727701816%,
    0% 50.00000000000001%,
    15.299429851916635% 45.431583272298205%,
    8.94815238271459% 39.00019058314288%,
    17.66421636210496% 36.60607986722188%,
    6.698729810778062% 25.000000000000014%,
    22.23263308980676% 28.693349984694787%,
    19.947961799571715% 19.947961799571747%,
    28.69334998469477% 22.232633089806775%,
    24.99999999999998% 6.698729810778083%,
    36.60607986722184% 17.664216362104973%,
    39.00019058314284% 8.948152382714603%,
    45.43158327229816% 15.299429851916642%,
    49.99999999999999% 0%,
    54.568416727701795% 15.299429851916635%,
    60.99980941685711% 8.94815238271459%,
    63.39392013277812% 17.66421636210496%,
    74.99999999999997% 6.6987298107780475%,
    71.3066500153052% 22.23263308980675%,
    80.05203820042826% 19.947961799571722%,
    77.76736691019323% 28.69334998469477%,
    93.30127018922192% 24.99999999999998%,
    82.33578363789502% 36.60607986722184%,
    91.0518476172854% 39.00019058314283%,
    84.70057014808336% 45.43158327229816%
  );
}

.clipAnimation {
  animation: clip 1s infinite;
}

@keyframes clip {
  0% {
    clip-path: polygon(
      100% 50%,
      84.70057014808336% 54.5684167277018%,
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%
    );
  }
  50% {
    clip-path: polygon(
      84.70057014808336% 54.5684167277018%,
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%,
      100% 50%
    );
  }
  100% {
    clip-path: polygon(
      91.0518476172854% 60.99980941685713%,
      82.33578363789503% 63.39392013277814%,
      93.30127018922194% 75%,
      77.76736691019323% 71.30665001530522%,
      80.05203820042827% 80.05203820042827%,
      71.30665001530522% 77.76736691019323%,
      75% 93.30127018922192%,
      63.39392013277814% 82.33578363789503%,
      60.99980941685714% 91.0518476172854%,
      54.56841672770181% 84.70057014808336%,
      50% 100%,
      45.4315832722982% 84.70057014808336%,
      39.000190583142874% 91.0518476172854%,
      36.606079867221865% 82.33578363789505%,
      25.00000000000001% 93.30127018922194%,
      28.693349984694787% 77.76736691019323%,
      19.947961799571733% 80.05203820042827%,
      22.23263308980677% 71.30665001530522%,
      6.698729810778076% 75.00000000000001%,
      17.664216362104966% 63.39392013277815%,
      8.948152382714603% 60.99980941685715%,
      15.299429851916635% 54.568416727701816%,
      0% 50.00000000000001%,
      15.299429851916635% 45.431583272298205%,
      8.94815238271459% 39.00019058314288%,
      17.66421636210496% 36.60607986722188%,
      6.698729810778062% 25.000000000000014%,
      22.23263308980676% 28.693349984694787%,
      19.947961799571715% 19.947961799571747%,
      28.69334998469477% 22.232633089806775%,
      24.99999999999998% 6.698729810778083%,
      36.60607986722184% 17.664216362104973%,
      39.00019058314284% 8.948152382714603%,
      45.43158327229816% 15.299429851916642%,
      49.99999999999999% 0%,
      54.568416727701795% 15.299429851916635%,
      60.99980941685711% 8.94815238271459%,
      63.39392013277812% 17.66421636210496%,
      74.99999999999997% 6.6987298107780475%,
      71.3066500153052% 22.23263308980675%,
      80.05203820042826% 19.947961799571722%,
      77.76736691019323% 28.69334998469477%,
      93.30127018922192% 24.99999999999998%,
      82.33578363789502% 36.60607986722184%,
      91.0518476172854% 39.00019058314283%,
      84.70057014808336% 45.43158327229816%,
      100% 50%,
      84.70057014808336% 54.5684167277018%
    );
  }
}

@media only screen and (max-width: 831px) {
  .header main > div > h2 {
    line-height: 50px;
    padding-bottom: 20px;
  }
  .header {
    padding-top: 100px;
  }
  .header h1 {
    line-height: 40px;
  }
  .clipAnimation {
    top: 180px;
  }
}
